<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel='stylesheet' type='text/css' href="{% static 'app/css/browser.css' %}" >
    <link rel='stylesheet' type='text/css' href="{% static 'app/css/main.css' %}" >
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src= "{% static 'app/js/main/browser/browser.js' %}" ></script>

</head>
<body>
    <div class="menu" id="browser-menu">
        <div>
            <h2 class="menu-username" id="browser-menu-username">{{ user_id }}</h2>
        </div>
        <div style="height: 1px; width: 100%; background-color: gray;"></div>
        <div class="menu-list" id="browser-menu-list">
            <h4 class="menu-item" id="menu-browser-upload">Upload</h4>
            <h4 class="menu-item" id="menu-browser-download">Download</h4>
            <h4 class="menu-item" id="menu-browser-new-directory">New Directory</h4>
            <h4 class="menu-item" id="menu-browser-new-refresh">Refresh</h4>
            <h4 class="menu-item" id="menu-browser-delete">Delete</h4>
        </div>
    </div>
    <div class="browser-container">

        <!-- Title -->
        <h2 class="title">Browser</h2>
        <h3 id="root-text">{{ root }}<h3>

        <!-- Layer-->
        <div id="directory-list">
            <!-- Title -->
            <ul class="list-group list-group-horizontal directory-layer">
                <li class="list-group-item list-group-item-primary col-name">Name</li>
                <li class="list-group-item list-group-item-primary col-modify">Modify</li>
                <li class="list-group-item list-group-item-primary col-user">User</li>
                <li class="list-group-item list-group-item-primary col-size">Size</li>
            </ul>

            <!-- back button -->
            {% if root != "/" %}
                <ul class="list-group list-group-horizontal directory-layer">
                    <li class="list-group-item col-name">
                        <form action="browser" method="POST" id="back-form">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                            <img src="{% static 'app/img/folder.gif' %}" class="directory-img">
                            <input type="hidden" id="selected-item" name="selected-item" value="back">
                            <input type="hidden" id="isback" name="isback" value="1">
                            <a class="directory-item" id="back">..</a>
                        </form>
                    </li>
                    <li class="list-group-item col-modify">
                        ..
                    </li>
                    <li class="list-group-item col-user">None</li>
                    <li class="list-group-item col-size">0 byte</li>
                </ul>
            {% endif %}
            <!-- Data List-->
            {% for file in file_list %}
                {% if file.type == "directory" %}
                    <!-- 1. Directory -->
                    <ul class="list-group list-group-horizontal directory-layer">
                        <li class="list-group-item col-name">
                            <form action="browser" method="POST" id="{{ file.filename }}-form">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                                <img src="{% static 'app/img/folder.gif' %}" class="directory-img">
                                <input type="hidden" id="selected-item" name="selected-item" value="{{ file.filename }}">
                                <input type="hidden" id="isback" name="isback" value="0">
                                <a class="directory-item" id="{{ file.filename }}">{{ file.filename }}</a>
                            </form>
                            
                        </li>
                        <li class="list-group-item col-modify">
                            {{ file.modify_date.year }}/{{ file.modify_date.month }}/{{ file.modify_date.date }} 
                            {{ file.modify_date.hour }}:{{ file.modify_date.min }}:{{ file.modify_date.sec }}
                        </li>
                        <li class="list-group-item col-user">{{ file.owner }}</li>
                        <li class="list-group-item col-size">{{ file.size }} Files</li>
                    </ul>
                {% else %}   
                    <!-- File -->
                    <ul class="list-group list-group-horizontal directory-layer">
                        <li class="list-group-item col-name">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                            <img src="{% static 'app/img/Files.gif' %}" class="directory-img">
                            <a href="#">{{ file.filename }}</a>
                        </li>
                        <li class="list-group-item col-modify">
                            {{ file.modify_date.year }}/{{ file.modify_date.month }}/{{ file.modify_date.date }} 
                            {{ file.modify_date.hour }}:{{ file.modify_date.min }}:{{ file.modify_date.sec }}
                        </li>
                        <li class="list-group-item col-user">{{ file.owner }}</li>
                        {% if file.size_type == "byte" %}
                            <li class="list-group-item col-size">{{ file.size }} byte</li>
                        {% elif file.size_type == "KB" %}
                            <li class="list-group-item col-size">{{ file.size }} KB</li>
                        {% elif file.size_type == "MB" %}
                            <li class="list-group-item col-size">{{ file.size }} MB</li>
                        {% else %}
                            <li class="list-group-item col-size">{{ file.size }} GB</li>
                        {% endif %}
                    </ul>
                {% endif %}
            {%  endfor %}
        </div>
    </div>
</body>
</html>