<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel='stylesheet' type='text/css' href="{% static 'app/css/browser.css' %}" >
    <link rel='stylesheet' type='text/css' href="{% static 'app/css/main.css' %}" >
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="menu" id="browser-menu">
        <div>
            <h2 class="menu-username" id="browser-menu-username">UserName</h2>
        </div>
        <div style="height: 1px; width: 100%; background-color: gray;"></div>
        <div class="menu-list" id="browser-menu-list">
            <h4 class="menu-item" id="menu-browser-upload">Upload</h4>
            <h4 class="menu-item" id="menu-browser-download">Download</h4>
            <h4 class="menu-item" id="menu-browser-new-directory">New Directory</h4>
            <h4 class="menu-item" id="menu-browser-new-refresh">Refresh</h4>
            <h4 class="menu-item" id="menu-browser-delete">Delete</h4>
        </div>
    </div>
    <div class="browser-container">

        <!-- Title -->
        <h2 class="title">Browser</h2>
        <h3 id="root-text">root>mypage</h3>

        <!-- Layer-->
        <div id="directory-list">
            <!-- Title -->
            <ul class="list-group list-group-horizontal directory-layer">
                <li class="list-group-item list-group-item-primary col-name">Name</li>
                <li class="list-group-item list-group-item-primary col-modify">Modify</li>
                <li class="list-group-item list-group-item-primary col-user">User</li>
                <li class="list-group-item list-group-item-primary col-size">Size</li>
            </ul>
            <!-- Data List-->
            <!-- 1. Directory -->
            <ul class="list-group list-group-horizontal directory-layer">
                <li class="list-group-item col-name">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    <img src="{% static 'app/img/folder.gif' %}" class="directory-img">
                    <a href="#">Directory 1</a>
                </li>
                <li class="list-group-item col-modify">2020/12/31 13:30:31</li>
                <li class="list-group-item col-user">User1</li>
                <li class="list-group-item col-size">100 Files</li>
            </ul>
            <ul class="list-group list-group-horizontal directory-layer">
                <li class="list-group-item col-name">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    <img src="{% static 'app/img/folder.gif' %}" class="directory-img">
                    <a href="#">Directory 2</a>
                </li>
                <li class="list-group-item col-modify">2020/12/31 13:30:31</li>
                <li class="list-group-item col-user">User2</li>
                <li class="list-group-item col-size">1 File</li>
            </ul>

            <!-- File -->
            <ul class="list-group list-group-horizontal directory-layer">
                <li class="list-group-item col-name">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    <img src="{% static 'app/img/Files.gif' %}" class="directory-img">
                    <a href="#">File 1</a>
                </li>
                <li class="list-group-item col-modify">2020/12/31 13:30:31</li>
                <li class="list-group-item col-user">User2</li>
                <li class="list-group-item col-size">1.45G</li>
            </ul>
        </div>
    </div>
</body>
</html>