<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel='stylesheet' type='text/css' href="{% static 'app/css/main.css' %}" >
    <link rel='stylesheet' type='text/css' href="{% static 'app/css/setting.css' %}" >
    <script type="text/javascript" src= "{% static 'app/js/main/setting/controluser.js' %}" ></script>
    
    
    
</head>
<body>
    
    <div class="menu" id="setting-menu">
        <div>
            <h2 class="menu-username" id="setting-menu-username">UserName</h2>
        </div>
        <div style="height: 1px; width: 100%; background-color: gray;"></div>
        <div class="menu-list" id="setting-menu-list">
            <h4 class="menu-item" id="menu-setting-users">Users</h4>
        </div>
    </div>
    <div id="setting-container">
        <h2 class="title">Setting</h2>
        <h3 class="sub-title">Users</h3>

        <div id="main-layer">
            <h4 style="margin: 20px">Username</h4>
            <div class="line"></div>
            <div id="list">
                <!-- Get User Data -->
                {% for user in user_list %}
                {% if user == "admin" %}
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item col-username" id="admin">admin</li>
                    <li class="list-group-item col-button"><button type="button" class="btn btn-primary modify-btn" id="admin">Modify</button></li>
                </ul>
                {% else %}
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item col-username" id="id_{{ user }}">{{ user }}</li>
                    <li class="list-group-item col-button"><button type="button" class="btn btn-primary modify-btn" id="{{ user }}">Modify</button></li>
                    <li class="list-group-item col-button"><button type="button" class="btn btn-danger delete-btn" id="{{ user }}">delete</button></li>
                </ul>
                {% endif %}
                {% endfor %}
            </div>
            <div class="line"></div>
            <form action="setting/adduser">
                <button class="btn btn-success">ADD User</button>
            </form>
        </div>
    </div>
</body>
</html>