<!DOCTYPE html>
<html lang="ko">
<head>
    
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src= "{% static 'app/js/module/account.js' %}" ></script>
    <script type="text/javascript" src= "{% static 'app/js/login.js' %}" ></script>

    <link rel='stylesheet' type="text/css" href="{% static 'app/css/login.css' %}"} >
    <link rel='icon' type="image/png" href="{% static 'app/favicon.ico' %}" >
    <title>Login To MicroCloudChip</title>
</head>
<body>
    <div id='login-container'>
        <img src="{% static 'app/img/logo-white.png' %}" id='logo'/>
        <form method='POST' id='editor' action="login" name="loginform">
            <div style="padding-top: 36px"></div>
            <div class="login-line" id='id-line'>
                <label for='id' class="login-line-title"><b>ID: </b></label>
                <input type='text' class="login-line-edit form-control" id='id' name="id" required ><br>
            </div>
            <div class="login-line" id='pswd-line'>
                <label for='pswd' class="login-line-title"><b>PSWD: </b></label>
                <input type='password' class="login-line-edit form-control" id='pswd' name="pswd" required >
            </div>
            <button type='button' id='login-btn'>Login</button>
        </form>
    </div>
</body>
</html>