<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel='stylesheet' type="text/css" href="{% static 'app/css/main.css' %}"} >
    <title>MicroCloudChip</title>
</head>
<body>
    {% include 'app/main/header.html' %}
    <div class="left-line" id="heaer-line"></div>
    {% if type == "browser" %}
    {% include 'app/main/browser.html' %}
    {% elif type == "setting" %}
    {% include 'app/main/setting.html' %}
    {% elif type == "about" %}
    {% include 'app/main/browser.html' %}
    {% endif %}
    <div class="left-line" id="heaer-line"></div>
    {% include 'app/main/footer.html' %}
</body>
</html>