<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src= "{% static 'app/js/main/designEvent.js' %}" ></script>

    <link rel='stylesheet' type="text/css" href="{% static 'app/css/main.css' %}"} >
    <title>MicroCloudChip</title>
</head>
<body>
    
    <nav id="main-nav">
        <img src="{% static 'app/img/logo-white.png' %}" class="nav-material nav-material-unhover" style="width: 40px; height: 40px" id="title"></img>
        <div style="width: 40px; height: 100%; float: left; margin-right: 40px;"></div>
        <div class="material-layout">
            <div class="nav-material nav-material-unhover">browser</div>
            <div class="nav-material nav-material-unhover">setting</div>
            <div class="nav-material nav-material-unhover">about</div>
        </div>
    </nav>
    <div class="left-line" id="heaer-line"></div>
    
    {% if type == "browser" %}
    {% include 'app/main/browser.html' %}
    {% elif type == "setting" %}
    {% include 'app/main/setting.html' %}
    {% elif type == "about" %}
    {% include 'app/main/browser.html' %}
    {% endif %}
    <div class="left-line" id="heaer-line"></div>
    {% include 'app/main/footer.html' %}
</body>
</html>