html, body {
    height: 100vh;
}
#browser-menu {
}
#menu-browser-upload {
    font-weight: bold;
}
#menu-browser-delete {
    color: red;
}
.browser-container {
    float: left;
}
#root-text {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
}
#directory-layer {
    margin-left: 80px;
}
#directory-list {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 200px;
    font-size: 15px;
    font-weight: bold;
}
.directory-layer {
    width: 1400px;
}
.col-name {
    width: 60%;
}
.col-modify {
    width: 15%;
}
.col-user {
    width: 15%;
}
.col-size {
    width: 10%;
}
.directory-img {
    width: 20px;
    height: 20px;
    margin: 1px;
}

.directory-item {
    cursor: pointer;
}
.file-item {
    cursor: pointer;
}