html, body {
    height: 100%;
}
#browser-menu {
    float: left;
    width: 15%;
    height: 100%;
}
#menu-browser-upload {
    font-weight: bold;
}
#menu-browser-delete {
    color: red;
}
.browser-container {
    float: left;
    width: 80%;
}
#root-text {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
}
#directory-list {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 200px;
    font-size: 15px;
    font-weight: bold;
}
.directory-layer {
    width: 80%;
}
.file-layer {
    width: 80%;
}
.back-layer {
    width: 80%;
}

.col-name {
    width: 60%;
}
.col-modify {
    width: 15%;
}
.col-user {
    width: 15%;
}
.col-size {
    width: 10%;
}
.directory-img {
    width: 20px;
    height: 20px;
    margin: 1px;
}
.menu-form {
    height: 30px;
}
.directory-item {
    cursor: pointer;
}
.file-item {
    cursor: pointer;
}

#upload-form input[type="file"]{
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
}

#usage-gage {
    margin-top: 40px;
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    font-size: 11px;
}
#gage-line {
    margin-top: -10px;
    width: 100%;
    height: 10px;
}
#used-line {
    width: 40%;
    height: 10px;
    background-color: #277BBA;
    float: left;
}
#unused-line {
    width: 60%;
    height: 10px;
    background-color: gray;
    float: left;
}
#gate-to-number {
    clear: both;
    font-size: 11px;
    margin-bottom: -10px;
    margin-top: 5px;
    text-align: right;
}