body {
    background-color: #277BBA;
    color: white;
}

#login-container {
    width: 420px;
    height: 170px;
    margin: 10px;
}

#logo {
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px;
}
#editor {
    margin: 10px;
}
#id-line {
    margin-top: 10px;
    margin-bottom: 5px;
}
#pswd-line {
    margin-top: 5px;
    margin-bottom: 10px;
}
#login-btn {
    width: 100px;
    height: 20px;
    font-size: 15px;
    color: #277BBA;
    background-color: white;
}