nav {
    background-color: #277BBA;
    color: white;
}
.menu {
    float: left;
    width: 240px;
    height: 100%;
    background-color: #E3EAF6;
    border: gray 2px solid;
    padding: 10px;
    float: left;
}
.menu-username {
    font-weight: bold;
    color: #277BBA;
    padding: 15px;
}
.menu-list {
    margin: 10px;
}
.menu-item {
    margin: 10px;
    color: gray;
    cursor: pointer;
}

.title {
    color: #277BBA;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 50px;
}
#logout-btn {
    cursor: point;
}