#summary {
    margin: 10px;
}

#adduser-layout {
    margin: 30px;
    width: 700px;
    height: 400px;
    border: 1px solid gray;
    padding: 40px;
}
.buttons {
    float: left;
    margin-right: 10px;
}